:root {
  font-family: "Itim", cursive;
  line-height: 1.5;
  font-weight: 400;
}
*{
  font-family: "Itim", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0%;
  background-color: #000;
  color: #fff;
}
