
.history-title {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: bold;
  background: rgb(12, 107, 118);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.history-card {
  margin:60px auto;
  background-color: #1f2126;
  border-radius: 15px;
  padding: 20px 0px;
  max-width: 300px;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.history-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.1);
}

.history-card h4 {
  font-size: 24px;
  color: rgb(12, 107, 118);
  margin-bottom: 10px;
}

.history-card p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 6px;
}

